{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_noscript %}
  {% set tagmanagerConfig = config('TagManagerSW6') %}
  {% if(tagmanagerConfig.config.wscTagManagerMatomo) %}
    <h1>Test</h1>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=test"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  {% endif %}
  {{ parent() }}
{% endblock %}
